h1{
    background-color: #70ABAF;
    color: White;
    text-align: center;
}



h2.theFooter{
color: White;
}

body{
    background-color: #F0F7F4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 100px;
    padding: 25px;
}

p{
    color: #32292F;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    text-align: left;
    border-style: ridge;
}

td{
    text: 10px;
    color: #32292F;
    background-color: rgb(242, 242, 242);
    border: 1px solid;
    text-align: center;
}

th{
    text: 12px;
    color: #32292F;
    font-weight: bold;
    background-color: rgb(242, 242, 242);
    border: 1px solid;
    text-align: center;
}


footer{
    background-color: #705D56;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}